<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_politica">
        <div>
            <h2>POLÍTICA DE CALIDAD</h2>
            <p>En TRANSPORTES SAGITARIO nos dedicamos al servicio de transporte terrestre de personal a nivel nacional,
                por tal motivo nuestras actividades se desarrollan de acuerdo al contexto organizacional y sirven como
                apoyo a la dirección estratégica, aumentando nuestra confiabilidad al aplicar los siguientes principios:
            </p>
            <ul>
                <li><i class="fas fa-check"></i>Seguridad en las operaciones</li>
                <li><i class="fas fa-check"></i>Comunicación Interna y Externa</li>
                <li><i class="fas fa-check"></i>Creatividad e Innovación</li>
                <li><i class="fas fa-check"></i>Cumplimiento</li>
                <li><i class="fas fa-check"></i>Cabalidad</li>
            </ul>
        </div>
        <div>
            <img src="assets/politica/politica-1.png" alt="">
        </div>
    </div>

    <div class="contenedor_politica">
        <div>
            <img src="assets/politica/politica-2.png" alt="">
        </div>
        <div>
            <h2>CONDUCTORES</h2>
            <p>Los conductores es el componente más valioso de nuestra empresa,
                por lo cual, realizamos un riguroso proceso de selección de personal
                que reúna las competencias necesarias.</p>
            <p>Nos preocupamos al detalle por la presentación de nuestro equipo.
                Por esta razón, nuestros conductores se encuentran debidamente
                uniformados. Realizamos capacitaciones y retroalimentaciones
                constantes sobre relaciones humanas, manejo defensivo y servicio al
                cliente.</p>
        </div>
    </div>

    <div class="contenedor_politica">
        <div>
            <h2>GESTIÓN DE
                MANTENIMIENTO</h2>
            <p>Nuestro equipo de personal técnico está altamente capacitado, son
                actualizados constantemente en tecnologías y mejores prácticas</p>
            <p>Nuestros talleres de mecánica cuentan con las secciones de mantenimiento básico, correctivo y preventivo.
            </p>
            <p>Contamos con un sistema de taller, donde tenemos el histórico de
                trabajos de cada unidad y los próximos mantenimientos a revisar.</p>
        </div>
        <div>
            <img src="assets/politica/politica-3.png" alt="">
        </div>
    </div>

</div>