<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_politica">
        <div>
            <h2>POLÍTICA DE CALIDAD</h2>
            <p>En TRANSPORTES SAGITARIO nos dedicamos al servicio de transporte terrestre de personal a nivel nacional,
                por
                tal motivo nuestras
                actividades se desarrollan de acuerdo al contexto organizacional y
                sirven como apoyo a la dirección estratégica, para lograr esto nos
                comprometemos a:</p>
            <ul>
                <li><i class="fas fa-chevron-down"></i>Cumplir con entregar la información y documentación solicitada
                    en el plazo requerido, mantener en óptimas condiciones las unidades vehiculares, cumplir con la
                    puntualidad en el servicio, mejorar la
                    respuesta de nuestro personal ante eventos inesperados, mejorar la
                    presencia del personal, renovar periódicamente nuestra flota de
                    unidades y atender las solicitudes en el plazo establecido por nuestros clientes.</li>
                <li><i class="fas fa-chevron-down"></i>Cumplir con la normativa legal vigente y propia de la
                    organización.</li>
                <li><i class="fas fa-chevron-down"></i>Mejorar continuamente nuestros procesos y la eficacia del Sistema
                    de Gestión de la Calidad.</li>
            </ul>
        </div>
        <div>
            <img src="assets/politica/politica-1.png" alt="">
        </div>
    </div>

    <div class="contenedor_politica">
        <div>
            <img src="assets/politica/politica-2.png" alt="">
        </div>
        <div>
            <h2>CONDUCTORES</h2>
            <p>Los conductores es el componente más valioso de nuestra empresa,
                por lo cual, realizamos un riguroso proceso de selección de personal
                que reúna las competencias necesarias.</p>
            <p>Nos preocupamos al detalle por la presentación de nuestro equipo.
                Por esta razón, nuestros conductores se encuentran debidamente
                uniformados. Realizamos capacitaciones y retroalimentaciones
                constantes sobre relaciones humanas, manejo defensivo y servicio al
                cliente.</p>
        </div>
    </div>

    <div class="contenedor_politica">
        <div>
            <h2>MECÁNICOS Y
                MANTENIMIENTO</h2>
            <p>Nuestro equipo de personal técnico está altamente capacitado, son
                actualizados constantemente en tecnologías y mejores prácticas</p>
            <p>Nuestros talleres de mecánica cuentan con las secciones de mantenimiento básico, correctivo y preventivo.
            </p>
            <p>Contamos con un sistema de taller, donde tenemos el histórico de
                trabajos de cada unidad y los próximos mantenimientos a revisar.</p>
        </div>
        <div>
            <img src="assets/politica/politica-3.png" alt="">
        </div>
    </div>

</div>