<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_clientes">
        <!-- CONTENEDOR CLIENTES DESCRIPCIÓN -->
        <div class="contenedor_clientes_descripcion">
            <!-- CABECERA -->
            <a href="">CLIENTES FELICES</a>
            <h2>CON LA CONFIANZA DE NUESTROS MÁS DE 35 CLIENTES</h2>
            <p>Estamos trabajando con grandes marcas.
            </p>
        </div>

        <!-- CONTENEDOR CONTROLES -->
        <div class="controles_slider_clientes">
            <button (click)="retroceder()">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button (click)="siguiente()">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        <!-- CONTENEDOR ITEMS CLIENTES -->
        <div class="contenedor_items_clientes" #contenedorItems>
            <div class="item_cliente" *ngFor="let cliente of clientes">
                <div class="item_cliente_contenedor">
                    <img [src]="cliente.imagen" alt="">
                </div>
            </div>
        </div>
    </div>

</div>