<div class="contenedor_seguridad opacidad_contenedor_seguridad">

    <!-- CENTRAR ELEMENTO -->
    <div class="centrar_elemento">
        <h2>POLÍTICA DEL SISTEMA INTEGRADO DE GESTIÓN ISO 9001 CALIDAD, ISO 45001 SEGURIDAD Y SALUD EN EL TRABAJO, ISO
            39001 SEGURIDAD VIAL y 14001 MEDIO AMBIENTE</h2>
        <p>
            En Transportes y Servicios Generales Sagitario SRL proporcionamos servicios de transporte terrestre de
            personal a nivel nacional, cumpliendo las necesidades y expectativas de nuestros clientes y partes
            interesadas pertinentes, nuestras actividades se desarrollan dentro del marco de los objetivos de negocio
            garantizando así el desarrollo presente y futuro de nuestra organización.
        </p>

        <p>Para lograr esto nos comprometemos a:</p>

        <ul>
            <li><i class="fas fa-check"></i>Proporcionar condiciones de trabajo seguras y saludables para la prevención
                de lesiones y deterioro
                de la salud de los trabajadores y visitantes, eliminado peligros y reduciendo los riesgos de seguridad,
                salud en el trabajo. </li>
            <li><i class="fas fa-check"></i>Cumplir nuestros objetivos y metas en calidad, Seguridad y salud en el
                trabajo, Salud Ocupacional,
                Seguridad vial y Medio Ambiente en concordancia con nuestros valores. </li>
            <li><i class="fas fa-check"></i>Cumplir los requisitos legales aplicables y otros que suscriba la
                organización en seguridad salud en el
                trabajo, salud ocupacional, seguridad vial y medio ambiente. </li>
            <li><i class="fas fa-check"></i>Utilizar las mejores prácticas y tecnologías económicamente factibles para
                eliminar los peligros y
                reducir los riesgos para la Seguridad y Salud en el Trabajo, utilizando diversos instrumentos de
                gestión como el IPERC. </li>
            <li><i class="fas fa-check"></i>Promover la participación y consulta de nuestros trabajadores y sus
                representantes en las actividades
                asociadas al Sistema de Gestión de la calidad, Seguridad y salud en el trabajo, Salud Ocupacional,
                Seguridad vial y Medio Ambiente</li>
            <li><i class="fas fa-check"></i>Promover actividades de capacitación y toma de conciencia con respecto al
                Sistema Integrado de
                Gestión de la Calidad, Medio Ambiental, Seguridad, Salud en el Trabajo y Seguridad Vial. </li>
            <li><i class="fas fa-check"></i>Minimizar la probabilidad de ocurrencia de “accidentes de tráfico” que
                puedan afectar la integridad
                física y mental de las personas, identificando, evaluando y controlando los riesgos de seguridad vial
                como base para nuestras operaciones.
            </li>
            <li><i class="fas fa-check"></i>Velar por la integridad de los usuarios de la vía identificando los peligros
                y áreas de mayor incidencia
                vehicular
            </li>
            <li><i class="fas fa-check"></i>Proteger el medio ambiente estableciendo actividades para mitigar la
                contaminación ambiental
                generada por el desarrollo de nuestras actividades, haciendo un uso sostenible de los recursos y
                desarrollando actividades para adaptarse al cambio climático.
            </li>
            <li><i class="fas fa-check"></i>Mejorar continuamente nuestros procesos y la eficacia del Sistema Integrado
                de Gestión de la
                calidad, Seguridad y salud en el trabajo, Salud Ocupacional, Seguridad vial y Medio Ambiente.
            </li>
        </ul>
    </div>
</div>