<div class="contenedor_seguridad opacidad_contenedor_seguridad">

    <!-- CENTRAR ELEMENTO -->
    <div class="centrar_elemento">
        <h2>POLÍTICA DE SEGURIDAD, SALUD
            EN EL TRABAJO, MEDIO AMBIENTE
            Y RESPONSABILIDAD SOCIAL</h2>
        <p>
            Transportes Sagitario SRL, cuenta con un Sistema de Gestión de Seguridad y
            Salud Ocupacional que implementa, mantiene y mejora con la finalidad de
            asegurar el bienestar de los trabajadores y fomentar una cultura de prevención de
            riesgos y enfermedades ocupacionales.
        </p>

        <ul>
            <li> <i class="fas fa-chevron-down"></i> Alcanzar nuestros objetivos y metas en seguridad, Salud
                Ocupacional, Medio
                Ambiente y Responsabilidad Social en concordancia con nuestros valores. </li>
            <li> <i class="fas fa-chevron-down"></i>Prevenir lesiones, enfermedades de nuestros colaboradores, así
                como los
                impactos ambientales adversos que pudieran ser generados por nuestra actividad.</li>
            <li> <i class="fas fa-chevron-down"></i>Cumplir con las normas legales vigentes, requisitos y
                compromisos asumidos
                por la empresa relacionados con la Seguridad, Salud Ocupacional, Medio Ambiente y Responsabilidad
                Social. </li>
            <li> <i class="fas fa-chevron-down"></i>Garantizar la activa participación y consulta de nuestros
                trabajadores y sus
                representantes en los elementos del Sistema de Gestión de Seguridad y Salud
                Ocupacional. </li>
            <li> <i class="fas fa-chevron-down"></i>. Mantener una fuerza laboral entrenada, capacitada y consciente
                de los aspectos relacionados con la Seguridad, Salud Ocupacional y Medio Ambiente.</li>
            <li> <i class="fas fa-chevron-down"></i>. Utilizar las mejores prácticas y tecnologías económicamente
                factibles para
                asegurar el bienestar de nuestros colaboradores, usuarios y calidad de nuestros
                servicios. </li>
            <li> <i class="fas fa-chevron-down"></i>Desarrollar un proceso de mejora continua del sistema de Gestión
                de Seguridad
                y Salud ocupacional, Medio Ambiente, Calidad y Responsabilidad Social. </li>
        </ul>
    </div>
</div>