.contenedor_equipo {
    padding: 80px 20px;
}

/* CONTENEDOR EQUIPO DESCRIPCIÓN */
.contenedor_equipo_descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

/* CABECERA */
.contenedor_equipo_descripcion a {
    font-weight: 600;
    font-size: 16px;
    color: #FA4318;
    margin: 5px 0px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.contenedor_equipo_descripcion h2 {
    font-size: 40px;
    font-weight: 700;
    color: #080C24;
    line-height: 60px;
    text-align: center;
}

.contenedor_equipo_descripcion p {
    line-height: 30px;
    margin: 18px 0px;
    font-size: 20px;
    text-align: center;
}

/* CONTENEDOR CONTROLES */
.controles_slider_equipo {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.controles_slider_equipo button {
    border: none;
    font-size: 24px;
    color: #d11010;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 20px rgba(7, 36, 95, 0.15);
}

.controles_slider_equipo button:hover {
    color: white;
    background-color: #d11010;
}

/* CONTENEDOR ITEMS EQUIPO */
.contenedor_equipo {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.contenedor_items_equipo {
    margin-top: 20px;
    display: flex;
    transition: transform 0.5s ease;
}

.item_cliente {
    flex: 0 0 calc(100% / 3);
    padding: 0px 20px;
}

.item_equipo_contenedor {
    border-radius: 10px;
    background-color: rgba(8, 12, 36, 0.05);
}

.item_cliente_llaves {
    transform: translate(0px, -75px);
    margin-bottom: -45px;
}

.item_equipo_contenedor p {
    padding-left: 10px;
    border-left: 3px solid #FA4318;
    line-height: 24px;
}

.item_equipo_datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.item_equipo_datos img {
    width: 100%;
}

.item_equipo_icono {
    background: #FA4318;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    transition: all 0.3s ease-in;
    transform: translate(0, 50%);
    cursor: pointer;
    top: -45px;
    left: 25px;
}

.item_equipo_icono i {
    margin-top: 11px;
}

.item_equipo_icono:before {
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background: rgba(250, 67, 24, 0.4);
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
    transition: all 0.3s ease-in;
}

.item_equipo_datos div {
    padding-bottom: 20px;
    text-align: center;
}

.item_equipo_datos h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
}


@media (max-width: 1400px) {

    .item_cliente {
        flex: 0 0 calc(100% / 2);
    }

}

@media (max-width: 1000px) {

    .item_cliente {
        flex: 0 0 calc(100% / 1);
    }

}