<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_politica">
        <div>
            <h2>TRANSPORTE DE PERSONAL</h2>
            <p>El bienestar de sus colaboradores también es nuestra prioridad.
                Por ello, garantizamos el mejor servicio de transporte de personal a sus colaboradores, buscando
                impulsar la productividad de su equipo de trabajo bajo nuestro sistema integrado de transporte.
            </p>
            <p>Para lograrlo, mantenemos coordinación continúa con sus gestores para controlar efectivamente sus operaciones logísticas.
            </p>

            <p>Para ello, ajustamos nuestras unidades al requerimiento de nuestros clientes a fin de trasladar eficazmente a su talento.
            </p>
            
        </div>
        <div class="contenedor_imagen_transporte">
            <img src="assets/servicios/servicios-1.png" alt="">
        </div>
    </div>

</div>