<div class="contenedor_llamar">

    <!-- CONTENEDOR LLAMAR IMAGEN -->
    <div class=" contenedor_llamar_imagen">
        <img src="assets/llamar/llamar-1.png" alt="imagen">
    </div>

    <!-- CONTENEDOR LLAMAR DESCRIPCIÓN -->
    <div class="contenedor_llamar_descripcion">
        <!-- CABECERA -->
        <a href="">HABLEMOS</a>
        <h2>¿NECESITAS INFORMACIÓN ACERCA DE NUESTROS SERVICIOS?</h2>

        <!-- TELÉFONO -->
        <div class="contenedor_telefono">
            <div>
                <i class="fas fa-phone-volume"></i>
            </div>
            <div>
                <!--<p>tiene alguna pregunta</p>-->
                <span>{{ celular }}</span>
            </div>
        </div>

        <!-- BOTÓN -->
        <a href="tel:{{ celular }}" target="_blank">CONTÁCTANOS</a>
    </div>
</div>