<div class="contenedor_llamar">

    <!-- CONTENEDOR LLAMAR IMAGEN -->
    <div class=" contenedor_llamar_imagen">
        <img src="assets/llamar/llamar-1.png" alt="imagen">
    </div>

    <!-- CONTENEDOR LLAMAR DESCRIPCIÓN -->
    <div class="contenedor_llamar_descripcion">
        <!-- CABECERA -->
        <a href="">HABLEMOS</a>
        <h2>¿NECESITAS AYUDA? OBTÉN UNA CONSULTA GRATUITA</h2>

        <!-- TELÉFONO -->
        <div class="contenedor_telefono">
            <div>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div>
                <p>tiene alguna pregunta</p>
                <span>+51 976391241</span>
            </div>
        </div>

        <!-- BOTÓN -->
        <a href="">CONTÁCTENOS</a>
    </div>
</div>