<div class="fondo_contenedor_servicios">

    <!-- CENTRAR ELEMENTO -->
    <div class="centrar_elemento">

        <div class="contenedor_certificaciones">
            <!-- CONTENEDOR SERVICIOS DESCRIPCIÓN -->
            <div class="contenedor_certificaciones_descripcion">
                <!-- CABECERA -->
                <!--<a href="">SERVICIOS</a>-->
                <h2>CERTIFICACIONES</h2>
                <div>
                    <img src="assets/certificaciones/certificaciones-1.png" alt="">
                </div>
            </div>
        </div>

    </div>

</div>