<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_nosotros">
        <!-- CONTENEDOR NOSOTROS IMAGEN -->
        <div class="contenedor_nosotros_imagen">
            <img src="assets/nosotros/nosotros-2.jpg" alt="">
        </div>

        <!-- CONTENEDOR NOSOTROS DESCRIPCIÓN -->
        <div class="contenedor_nosotros_descripcion">
            <!-- CABECERA -->
            <a href="">SOBRE NOSOTROS</a>
            <h2>TRANSPORTES Y SERVICIOS GENERALES SAGITARIO S.R.L.</h2>
            <p>Se constituyó el 23 de Setiembre del
                2001, con domicilio legal en el Jr. Los pensamientos Nº 138 –
                Urb. El Jardín de la Ciudad de Cajamarca.
            </p>
            <p>Contamos con flotas
                modernas de ómnibus, minibús, sprinter, camionetas y
                volquetes las cuales cumplen con los más altos estándares
                de calidad y seguridad para garantizar un servicio seguro y
                confortable, además de políticas y filosofía ambiental acordes con las necesidades de nuestra sociedad.
            </p>

            <!-- ITEMS -->
            <div>
                <ul>
                    <li><i class="fas fa-check"></i>Profesionalismo.</li>
                    <li><i class="fas fa-check"></i>Calidad humana.</li>
                    <li><i class="fas fa-check"></i>Altos estándares.</li>
                    <li><i class="fas fa-check"></i>Responsabilidad social.</li>
                </ul>
                <img src="assets/nosotros/nosotros-1.jpg" alt="">
            </div>
            <hr>
        </div>
    </div>

</div>