<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_nosotros">
        <!-- CONTENEDOR NOSOTROS IMAGEN -->
        <div class="contenedor_nosotros_imagen">
            <img src="assets/nosotros/nosotros-5.jpg" alt="">
        </div>

        <!-- CONTENEDOR NOSOTROS DESCRIPCIÓN -->
        <div class="contenedor_nosotros_descripcion">
            <!-- CABECERA -->
            <a href="">¿QUIÉNES SOMOS?</a>
            <!--<h2>TRANSPORTES Y SERVICIOS GENERALES SAGITARIO S.R.L.</h2>-->
            <p>Transporte Sagitario, una empresa con más de 25 años dedicada al rubro de transporte de personal a nivel
                nacional.
            </p>
            <p>Nuestra experiencia en el sector industrial y minero han permitido convertirnos en una de las principales
                empresas con los más altos estándares de seguridad y calidad.
            </p>

            <!-- ITEMS -->
            <div>
                <!--<ul>
                    <li><i class="fas fa-check"></i>Profesionalismo.</li>
                    <li><i class="fas fa-check"></i>Calidad humana.</li>
                    <li><i class="fas fa-check"></i>Altos estándares.</li>
                    <li><i class="fas fa-check"></i>Responsabilidad social.</li>
                </ul>-->
                <img src="assets/nosotros/nosotros-1.jpg" alt="">
            </div>
            <hr>
        </div>
    </div>

</div>