<app-slider-principal></app-slider-principal>
<app-nosotros></app-nosotros>
<app-mision></app-mision>
<app-vision></app-vision>
<app-caracteristicas></app-caracteristicas>
<app-linea [imagen]="'assets/lineas/linea-2.jpg'"></app-linea>
<app-certificaciones></app-certificaciones>
<app-politica></app-politica>
<app-linea [imagen]="'assets/lineas/linea-4.jpg'"></app-linea>
<app-seguridad></app-seguridad>
<app-linea [imagen]="'assets/lineas/linea-3.jpg'"></app-linea>
<app-servicios></app-servicios>
<app-llamar></app-llamar>
<app-clientes></app-clientes>
<app-album></app-album>