<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_vision">
        <!-- CONTENEDOR CARACTERÍSTICAS DESCRIPCIÓN -->
        <div class="contenedor_vision_descripcion">
            <!-- CABECERA -->
            <div>
                <a href="">VISIÓN</a>
                <h2>NUESTRA VISIÓN</h2>
            </div>
            <p>“Lograr ser la empresa líder en los Servicios de Transporte de
                Personal a nivel nacional, trabajando siempre con estándares de
                Calidad, Seguridad y Salud en el Trabajo, Responsabilidad Social
                y Medio Ambiente; incorporando a nuestras unidades una tecnología e infraestructura de vanguardia para garantizar nuestro
                óptimo servicio”.
            </p>
        </div>
    </div>

</div>