<div class="fondo_contenedor_estadisticas">

    <!-- CENTRAR ELEMENTO -->
    <div class="centrar_elemento">

        <!-- CONTENEDOR ESTADÍSTICA -->
        <div class="contenedor_estadisticas">

            <!-- CONTENEDOR ESTADÍSTICA ITEM -->
            <div class="contenedor_estadisticas_item">
                <h2>1000+</h2>
                <h3>PROYECTO COMPLETO</h3>
                <p>Impacte convenientemente los nichos de front-end a través del mantenimiento.</p>
            </div>

            <!-- CONTENEDOR ESTADÍSTICA ITEM -->
            <div class="contenedor_estadisticas_item">
                <h2>2000+</h2>
                <h3>PROYECTO COMPLETO</h3>
                <p>Impacte convenientemente los nichos de front-end a través del mantenimiento.</p>
            </div>

            <!-- CONTENEDOR ESTADÍSTICA ITEM -->
            <div class="contenedor_estadisticas_item">
                <h2>3000+</h2>
                <h3>PROYECTO COMPLETO</h3>
                <p>Impacte convenientemente los nichos de front-end a través del mantenimiento.</p>
            </div>

            <!-- CONTENEDOR ESTADÍSTICA ITEM -->
            <div class="contenedor_estadisticas_item">
                <h2>4000+</h2>
                <h3>PROYECTO COMPLETO</h3>
                <p>Impacte convenientemente los nichos de front-end a través del mantenimiento.</p>
            </div>

        </div>

    </div>

</div>