<div class="fondo_contenedor_mision opacidad_contenedor_mision">

    <!-- CENTRAR ELEMENTO -->
    <div class="centrar_elemento">

        <div class="contenedor_mision ">
            <!-- CONTENEDOR MISIÓN DESCRIPCIÓN -->
            <div class="contenedor_mision_descripcion">
                <!-- CABECERA -->
                <a href="">NUESTRA MISIÓN</a>
                <h2>TENEMOS COMO MISIÓN</h2>
                <p>Facilitamos la satisfacción de las necesidades de transporte de nuestros clientes de manera eficiente y con liderazgo en costos.
                </p>

                <!-- ITEMS -->
                <!--<ul>
                    <li>
                        <span><img src="assets/iconos/icono-1.png" alt="imagen"></span>
                        <div>
                            <h3>SERVICIO CON TOTAL CALIDAD</h3>
                            <p>Mejore las métricas interactivas para servicios confiables. Liberar proactivamente
                                completamente
                                investigado.</p>
                        </div>
                    </li>
                    <li>
                        <span><img src="assets/iconos/icono-2.png" alt="imagen"></span>
                        <div>
                            <h3>EFICIENCIA Y EFICACIA</h3>
                            <p>Mejore las métricas interactivas para servicios confiables. Liberar proactivamente
                                completamente
                                investigado.</p>
                        </div>
                    </li>
                    <li>
                        <span><img src="assets/iconos/icono-3.png" alt="imagen"></span>
                        <div>
                            <h3>RECONOCIMIENTO A NUESTRO COLABORARES</h3>
                            <p>Mejore las métricas interactivas para servicios confiables. Liberar proactivamente
                                completamente
                                investigado.</p>
                        </div>
                    </li>
                </ul>-->
            </div>

            <!-- CONTENEDOR MISIÓN IMAGEN -->
            <div class="contenedor_mision_imagen">
                <img src="assets/mision/mision-1.png" alt="">
            </div>
        </div>

    </div>
</div>