.contenedor_contacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 0px;
    width: 100%;
}

.contenedor_contacto h2 {
    margin-bottom: 25px;
}

.contacto_formulario {
    padding: 20px;
    box-shadow: var(--sombra-contenedor);
    width: 40%;
}

.contacto_formulario form {
    padding-top: 20px;
}

.contacto_formulario input,
.contacto_formulario textarea {
    width: 100%;
    border: 0;
    border-radius: 0px;
    padding: 0 40px;
    font-size: 14px;
    background: var(--color-fondo-input);
    margin-bottom: 24px;
    outline: none;
    padding: 20px;
}

.contacto_formulario button {
    color: var(--color-secundario);
    background: var(--color-terciario);
    outline: none;
    border: none;
    padding: 20px 45px;
    cursor: pointer;
    font-size: 17px;
}

.contacto_formulario button:hover {
    background: var(--color-terciario-hover);
}

.contacto_formulario span {
    margin: 10px 0px;
    font-style: italic;
    font-weight: 600;
}

/* CONTACTO INFORMACIÓN */
.contacto_informacion {
    background: var(--color-terciario);
    padding: 20px;
    box-shadow: var(--sombra-contenedor);
}

.contacto_informacion h2 {
    color: var(--color-secundario);
}

.contacto_informacion_item {
    background: var(--color-secundario);
    border-radius: 5px;
    padding: 25px 30px 28px;
    margin-bottom: 24px;
}

.contacto_informacion_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contacto_informacion_display>div:first-child {
    flex: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: var(--color-terciario);
    border-radius: 5px;
    text-align: center;
    color: var(--color-secundario);
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 8px;
}

.contacto_informacion_display div {
    text-align: center;
}

/* MAPA */
iframe {
    width: 100%;
}

@media (max-width: 800px) {

    .contenedor_contacto {
        flex-direction: column;
    }

    .contacto_formulario,
    .contacto_informacion {
        width: 100%;
    }

}