* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-fondo-pagina: #f7f8fa;

    --color-primario: #16315c;
    --color-primario-hover: #0f2953;

    --color-secundario: #fff;
    --color-secundario-hover: #f7f8fa;

    --color-terciario: #e33c2f;
    --color-terciario-hover: #db3024;

    --color-cuaternario: #ffde28;
    --color-cuaternario-hover: #f8d71d;

    --color-quinario: #080C24;
    --color-quinario-hover: #040714;
    
    --sombra-contenedor: 0px 8px 20px rgba(7, 36, 95, 0.15);

    --color-borde: rgba(255, 255, 255, 0.2);

    --color-linea-titulo: linear-gradient(90.09deg, #e33c2f -7.63%, rgba(250, 67, 24, 0) 99.84%);

    --color-fondo-oscuro: rgba(0, 0, 0, 0.8);

    --color-fondo-oscuro-banner: rgba(3, 0, 12, 0.6);

    --color-fondo-input: rgba(8, 12, 36, 0.06);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* CENTRAR ELEMENTO */
.centrar_elemento {
    margin: auto;
    width: 80%;
}

@media (max-width: 800px) {

    .centrar_elemento {
        width: 90%;
    }

}

@media (max-width: 500px) {

    .centrar_elemento {
        width: 100%;
    }

}