<!-- CENTRAR ELEMENTO -->
<div class="centrar_elemento">

    <div class="contenedor_politica">
        <div>
            <h2>ALQUILER DE UNIDADES</h2>
            <p>Contamos con flotas modernas de ómnibus, minibús, sprinter, camionetas y volquetes las cuales cumplen con
                los más altos estándares de calidad y seguridad para garantizar un servicio seguro y confortable, además
                de políticas y filosofía ambiental acordes con las necesidades de nuestra sociedad.
            </p>
            <p>Todas nuestras unidades poseen todos los componentes necesarios de seguridad, entretenimiento, calidad y
                comodidad. Adicional a ello todas nuestras camionetas cuenta con revisión técnica, SOAT y documentación
                en regla.
            </p>
        </div>
        <div class="contenedor_imagen_transporte">
            <img src="assets/servicios/servicios-2.png" alt="">
        </div>
    </div>

</div>